.DS_Store
node_modules
public/bundle.*
vhdl/lwe-team-orange.xpr
vhdl/vivado_pid7408.str

vhdl/vivado.jou

vhdl/vivado.log

vhdl/lwe-team-orange.ip_user_files/mem_init_files/measure_in.txt

vhdl/measure_in.txt
